/*
CSS for the gallery widget
*/


/* general slideshow styles */
.gigx-slideshow{
    background-color:#486D25;
    padding:10px; 
    border-radius: 5px;
    -moz-border-radius: 5px;     
}

.gigx-slideshow-wrapper {
  	margin: 0;  
    padding: 0; 
    text-align: left;
    width: 720px;
    height: 225px;  
}

.gigx-slideshow-wrapper h2 {
    color:#FFFFFF;
    font:1.6em Arial,Tahoma,sans-serif;
    margin: 0.8em 0 0.4em;
    width: 390px;
}
.gigx-slideshow-wrapper h1 {
    color:#FFFFFF;
    font:1.6em Arial,Tahoma,sans-serif;
    margin: 0.8em 0 0.4em;
}
.gigx-slideshow-wrapper p{
    color:#FFFFFF;
    font-weight:bold;
    margin:0.75em 30px 0 0;
}



/* single slide styles */
.gigx-slideshow-wrapper .gigx-slide{
    background-color:#83AE2C;
    color:#333333;
    /*margin-bottom:10px; */
    overflow:hidden;
    padding:0px 0px 0px 10px;
    display:none;
    border-radius: 5px 5px 0 0 ;
    -moz-border-radius: 5px 5px 0 0; 
    

  background-color: #769d28;
  background-image: -moz-linear-gradient(top, #769d28, #83AE2C); 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #769d28),color-stop(1, #83AE2C)); 
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#769d28', EndColorStr='#83AE2C'); 
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#769d28', EndColorStr='#83AE2C')"; 

    
}

.gigx-slideshow-wrapper div.gigx-slide1 {
  	display:block;
}

.gigx-slideshow-wrapper .gigx-slide .gigx-slide-text {
width:400px;
float:left;
}
.gigx-slide-text{
height:225px;
overflow: hidden;
}
.gigx-slideshow-wrapper .gigx-slide img {
  	display: inline; 
    margin: 0; 
    padding:0 0 0 10px;
    float: right; text-align: right;
}


/* slideshow tabs  styles */
.gigx-slideshow-pager {
    background: none repeat scroll 0 0 transparent;
    float: left;
    margin: 0;
    padding: 0; 
    /*height: 26px;*/  
    height:2.2em; 
}
.gigx-slideshow-pagerbutton {
    float: left;
    list-style-type: none;
    margin: 0 2px 0 0 !important;
    padding: 0;
    background: no-repeat scroll right top #56822c;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;


     -moz-box-shadow: 5px 5px 5px #333; 
  -webkit-box-shadow: 5px 5px 5px #333; 
          box-shadow: 5px 5px 5px #333;
          

  background-image: -moz-linear-gradient(top, #445533, #56822c); 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #445533),color-stop(1, #56822c)); 
     
}
.gigx-slideshow-pagerbutton a {
    /*background: no-repeat scroll right top #486D25;*/
    color: #FFFFFF;
    display: block;
    font: normal 1.2em "HarabaraRegular",Arial, Tahoma, sans-serif; 
    letter-spacing:2px;
    font-weight:normal;
    padding: 5px 5px 0 5px;
    text-align: center;   
    margin: 0;
    height:1.6em; 
}

.gigx-slideshow-pagerbutton a:hover {
    text-decoration: none;
}


.gigx-slideshow-pager li.activeSlide {
    background: no-repeat scroll right top #83AE2C;
    color: #fff;
    font-weight: bold;
}

/* jquery.clickable styling */
.jsClickable {
    cursor: pointer;
}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background: rgb(25,25,25);
	background: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}